@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
    list-style-type: none;
}
html {
    min-height: 100%;
}
body {
    background: url('../img/bg-s2.png') top center no-repeat;
    position: relative;
    text-align: center;
    min-height: 100%;
    min-width: 1200px;
    font-family: 'roboto-regular', Arial, sans-serif;
}

/* BUTTONS */

.btn{
    background-color: #e41f25;
    color: #fff;
    font-size: 16px;
    font-family: 'roboto-regular', Arial, sans-serif;
    font-weight: bold;
    border: 5px solid #000;
    outline: none;
    display: inline-block;
    vertical-align: top;
    transition: background-color .2s;
}
.btn-new-game {
    height: 100px;
    width: 100px;
    margin-top: 110px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.btn:hover {
    color: #000;
}
.btn:active{
    background-color: #a31620;
}
.btn-start {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 70px;
    border-width: 3px;
}

/* BOARD  */

.board {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #fff;
}
.field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.field-for-10 {
    width: 700px;
    margin: 0 auto;
}
.field-for-18 {
    width: 840px;
    margin: 0 auto;
}

/* CARD */

.card {
    position: relative;
    height: 180px;
    width: 120px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card-shirt {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    background-color: #369;
    border: 3px solid rgb(33, 67, 100);
}
.card-back {
    display: flex;
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    background: #fff9c0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border: 3px solid #fff16f;
}
.card-back div {
    width: 96px;
    height: 96px;
    margin: auto;
    background: url('../img/sprite-sheet.png') 0 0 no-repeat;
}
.turn {
    transform: rotateY(180deg);   
}

/* POPUP */

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    background-color: #fff;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    text-align: center;
}
.popup h2 {
    height: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 1;
    padding-top: 15px;
}
.menu {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.menu > div{
    width: 50%;
}
.menu h3 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.difficulties {
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.difficulty {
    padding: 12px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #e4e4e4;
}
li.active {
    background-color: #34c954;
}
.card-styles {
    display: flex;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    
}
.card-style {
    height: 90px;
    width: 60px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #e4e4e4;
}


/* ANIMATION */

.show {
    display: block;
}
.hide {
    visibility: hidden;
}
.show-anim {
    display: block;
    animation: bounce 1s;
}

@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY( 30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY( 0px);}
}