*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
    list-style-type: none;
}
html {
    min-height: 100%;
}
body {
    background: url('../img/bg-s2.png') top center no-repeat;
    position: relative;
    text-align: center;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

.btn-new-game, .btn-start{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border: 3px solid black;
    outline: none;
    display: inline-block;
    vertical-align: top;
}
.btn-new-game {
    height: 100px;
    width: 100px;
    margin-top: 110px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.btn-start {
    padding: 20px 30px;
}
.btn-start:hover, .btn-new-game:hover {
    background-color: #e41f25;
    color: #fff;
}
.btn-start:active, .btn-new-game:active {
    background-color: #8a1317;
    color: #fff;
}


.board {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: rgba(255,255,255, 1);
    height: 700px;
    border: 1px solid black;
}
.field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.field-for-10 {
    width: 700px;
    margin: 0 auto;
}
.field-for-18 {
    width: 840px;
    margin: 0 auto;
}

.card {
    position: relative;
    height: 180px;
    width: 120px;
    margin: 10px;
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: black;
}
.card-shirt {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    background-color: #369;
}
.card-back {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    background-color: #b69;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.chosen-card {
    background-color: pink
}
.card:hover {
    transform: rotateY(180deg);
}





/* POPUP */

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    background-color: #fff;
    width: 800px;
    height: 400px;
    text-align: center;
}
.popup h2 {
    height: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 1;
    padding-top: 15px;
}
.menu {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.menu > div{
    width: 50%;
}
.menu h3 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.difficulties {
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.difficulties li {
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    //background-color: #fff;
}
.active {
    background-color: rgb(53, 163, 39);
    color: #fff;
}
.card-styles {
    display: flex;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    
}
.card-styles li {
    height: 90px;
    width: 60px;
    border: 1px solid black;
    cursor: pointer;
    //background-color: #fff;
}
.show {
    display: block;
}
.show-anim {
    display: block;
    animation: bounce 1s;
}

@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY( 30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY( 0px);}
}